%span
  Server Status:
%span#status
      

.buttons
  %button.start-button Start
  %button.stop-button Stop

:javascript
  var init_server_status = function(){
    var update_status = function() {
      $.ajax("/server/status.json",
        {complete: function(response){ $('#status').text(response.responseJSON ? "Server running" : "Server stopped") }}
      );};
    update_status();

    var disable = function(jqueryObject){
      jqueryObject.attr("disabled", "disabled")
    }
    var enable = function(jqueryObject){
      jqueryObject.removeAttr("disabled")
    }

    var complete = function(response){
        alert(response.responseJSON);
        update_status();
      };

    var clickFunction = function(enableButton, disableButton, json){
        disable(disableButton);
        enable(enableButton);
        $.ajax(json, {complete: complete})
      }

    $('.start-button').click(function(){
      clickFunction('.stop-button', 'start-button', "#{server_start_path :format => "json"}");
    });

    $('.stop-button').click(function(){
      clickFunction('start-button', 'stop-button', "#{server_stop_path :format => "json"}");
    });
  };

  init_server_status();
  init_server_status = null;
